---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// title should have font-family: 'Clicker Script', cursive;

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-title { font-family: 'Clicker Script', cursive; font-size: 80pt; vertical-align: sub }
.site-title:hover { text-decoration: none }
.motto { font-size: 12pt; font-style: italic; text-align: center; }
.site-header { background-color: #F5F5DC; }
.site-footer { background-color: #F5F5DC; }
.red_flower { margin: 0px; width: 95px; margin-bottom: -15px; margin-top: -15px  }
.blue_flower { margin: 0px; width: 40px; vertical-align: top; margin-left: -16px; margin-top: -10px; }
.car { margin: 0px; width: 110px; vertical-align: bottom; margin-left: -80px;    }

a { color: #DAA520 }
a:visited { color: #DAA520 }

table, th, td { border-collapse: collapse; border: 1px solid #CCC; }
table { margin-bottom: 10px; margin-left: auto; margin-right: auto }
th { background-color: #F5F5DC }
td, th {padding: 2px }

.tag { font-size: 10px; border: 1px solid #CCC; border-radius: 5px; padding: 3px }
.tag a { color: black }
.tag a:hover { text-decoration: none}
.tag-large {border: 1px solid #CCC; border-radius: 5px; padding: 4px; background-color: #F5F5F5}

.tags { text-align: center; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; margin-bottom:10px}
.categories-head {font-size:10px; height: 10px; line-height: 10px; white-space: nowrap;}

.post-link-div {padding-bottom: 20px}
.post-link-div h2 {margin-bottom: 2px; padding-bottom: 2px}
.teaser {font-size: 10pt}

pre {background-color: #EEE; line-height: 0.8em}
code {background-color: #EEE;}
.language-bibtex {font-size: 8pt;  font-family: 'Roboto Mono', monospace; padding: 0px; margin:0px}
