---
layout: default
---

<div class="home">

    <p class="motto">The ultimate goal of AI is a world taking care of itself,
    so the humans can finally become a pack of carefree, barefooted,
    long-haired hippies. (← irony)</p>

	<div class="tags">
	<span class="categories-head">Categories</span>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="/tag/{{ tagname }}"><span class="tag-large"><nobr>{{ tagname }}</nobr></span></a>
{% endfor %}
	</div>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">

	{% for post in site.posts %}
	  {% capture currentdate %}{{post.date | date: "%A, %B %d, %Y"}}{% endcapture %}
	  {% if currentdate != thedate %}
		<span class="post-meta">{{ currentdate }}</span>
		{% capture thedate %}{{currentdate}}{% endcapture %}
	  {% endif %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a><br />
            {% for tag in post.tags %}
			  {% capture tag_name %}{{ tag }}{% endcapture %}
              <span class="tag"><a href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></a></span></a>&nbsp;
            {% endfor %}
        </h2>
	{% endfor %}

  </ul>

	<div class="tags">
	<span class="categories-head">Categories</span>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="/tag/{{ tagname }}"><span class="tag-large"><nobr>{{ tagname }}</nobr></span></a>
{% endfor %}
	</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
