---
layout: none
---

<html lang="en" dir="ltr">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link type="text/css" rel="stylesheet" href="https://ufal.mff.cuni.cz/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all" />
      <link type="text/css" rel="stylesheet" href="https://ufal.mff.cuni.cz/sites/default/files/css/css_Kg4VuSu_sk2mykRK8Di0DJWFLLkQ1sGPa8zzBh1R3OQ.css" media="all" />
      <link type="text/css" rel="stylesheet" href="https://ufal.mff.cuni.cz/sites/default/files/css/css_hNh4doXU_xql4L9eGqq_gkzC-0gsVsWcThrBpz9SEn0.css" media="all" />
      <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css" media="all" />
      <link type="text/css" rel="stylesheet" href="https://ufal.mff.cuni.cz/sites/default/files/css/css_-zb73jOHLeyYmJjVK2QE0rpOnUcYCrhzlQ7kZX7TI40.css" media="all" />
</head>

<body style="background-color: white; padding: 0px; margin: 0px">
<ul>
    {% for post in site.posts limit:5 %}
      <li>
          <big><a href="https://jlibovicky.github.io/{{ post.url }}">{{ post.title }}</a></big>
      {% capture currentdate %}{{post.date | date: "%B %d, %Y"}}{% endcapture %}
      {% if currentdate != thedate %}
        <span class="post-meta">({{ currentdate }})</span>
      {% capture thedate %}{{currentdate}}{% endcapture %}
      {% endif %}
      </li>
    {% endfor %}

</ul>
</body>

</html>
