---
layout: none
---

<html lang="en" dir="ltr">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css" media="all" />
</head>

<body>
<ul>
    {% for post in site.posts limit:5 %}
      <li>
          <big><a href="https://jlibovicky.github.io/{{ post.url }}">{{ post.title }}</a></big>
      {% capture currentdate %}{{post.date | date: "%B %d, %Y"}}{% endcapture %}
      {% if currentdate != thedate %}
        <span class="post-meta">({{ currentdate }})</span>
      {% capture thedate %}{{currentdate}}{% endcapture %}
      {% endif %}
      </li>
    {% endfor %}

</ul>
</body>

</html>
